*{
    text-align: center;
    color: white;
    font-size: 24px;
}

body{
    background-image: url(./Imagen/need-more-coffee-programmer-story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer div{
    position: relative;
}

footer p{
    position: fixed;
    bottom: 0%; 
    width: 100%;
}

